@import "_config";
@import "_settings";
@import "../_include-media";
main {
    .preocupes {
        background: $brand-color;
        .row {
            display: flex;
            justify-content: flex-start;
            @include sm {
                justify-content: space-around;
            }
        }
        &-icon {
            background: #fff;
            display: inline-block;
            line-height: 0;
            padding: 12px;
            border-radius: 6px;
            margin: 5px 5px 5px 5px;
            img {
                width: 50px;
                margin: 0 auto;
                @include sm {
                    width: 44px;
                }
            }
        }
        &-item {
            display: block;
            max-width: 84px;
            transition: all .3s ease;
            @include xlg {
                margin: 40px 4vw;
            }
            @include lg {
                margin: 40px 3vw;
            }
            @include md {
                margin: 40px 1vw;
            }
            @include sm {
                margin: 40px auto;
            }
            span {
                display: block;
                font-size: 11px;
                text-align: center;
                color: white;
            }
        }
    }
}

.tenemos {
    background: $main-bg-color;
    h1 {
        text-align: center;
        font-weight: 400;
        @include fluid-type($xs, $max_width, 32px, 40px);
        color: $brand-color;
    }
    h2 {
        text-align: center;
        margin: 0;
    }
}

.plans {
    &-item {
        @include border-radius(10px 10px 10px 10px);
        @include box-shadow(0, 5px, 0, rgba(0, 0, 0, .4));
        background: #fff;
        max-width: 340px;
        text-align: center;
        padding-top: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        @include xs {
            max-width: 100%;
            width: 100%;
        }
        &_first,
        &_third,
        &_second {
            @include lg {
                margin-left: auto;
                margin-right: auto;
            }
            @include md {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
        &_third p {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        h2 {
            @include fluid-type($xs, $max_width, 24px, 28px);
            color: $brand-color;
            margin-bottom: 5px;
        }
        table {
            width: 80%;
            margin: 0 auto;
            @include fluid-type($xs, $max_width, 22px, 26px);
            line-height: 1.5;
        }
        td:nth-child(1),
        td:nth-child(2) {
            border-right: 1px solid #C8C8C8;
        }
        tr:first-child {
            background-color: #c6c5c5;
            @include fluid-type($xs, $max_width, 12px, 14px);
            line-height: 1;
        }
        tr:not(:first-child) {
            color: $brand-color;
            line-height: 1.5;
        }
        td {
            padding: 3px 0;
        }
        svg {
            max-height: .75em;
            max-width: .75em;
            line-height: 1.5;
            display: inline;
            vertical-align: baseline;
        }
        .icon {
            max-height: 1.4em;
        }
    }
    button {
        color: white;
        font-weight: bold;
        padding: 5px 20px;
    }
    p {
        @include fluid-type($xs, $max_width, 16px, 18px);
        color: #676767;
    }
}

.small_button {
    @include button($solicitar-btn-color);
    margin: 20px auto;
    box-shadow: none;
    border: none;
    @include fluid-type($xs, $max_width, 18px, 20px);
}

.big_button {
    @include button($solicitar-prime-btn-color);
    margin: 45px auto;
    @include fluid-type($xs, $max_width, 18px, 20px);
    text-transform: uppercase;
}

.feedback {
    background: $main-bg-color; // @include media('<tablet') {
    //         border: 1px dashed red;
    // }
    & table {
        @include border-radius(3px 3px 10px 10px);
        @include box-shadow(0, 5px, 0, rgba(0, 0, 0, .4));
        @include fluid-type($xs, $max_width, 16px, 19px);
        background-color: #fff;
        width: 100%;
        margin: 50px 0;
        min-height: 150px;
    }
    &-client-photo {
        max-height: 5rem;
        max-width: 5rem;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    &-text {
        font-size: .9rem;
        padding-top: 20px;
        font-weight: 400;
    }
    &-stars {
        display: inline-block;
        max-width: 230px;
        margin: 15px 0;
        svg {
            border: 1px solid red;
        }
    }
    &-signification {
        text-align: left;
        margin: auto 0;
        vertical-align: bottom;
        font-weight: 500;
        display: block;
        @include sm {
            width: 100%;
        }
    }
}

.signification_and_stars {
    vertical-align: bottom;
    display: flex;
    justify-content: space-between;
    flex-wrap: 1;
    @include sm {
        display: table-cell;
    }
}

.signification_and_stars,
.feedback-text {
    @include xs {
        padding-left: 15px;
    }
}

#rateYo {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    @include sm {
        width: 100%;
    }
}

.photo_cell {
    width: 140px;
}